RewriteEngine on
RewriteBase  /
Rewritecond %{REQUEST_URL} ^/system. *
RewriteRule ^(.*)$ index.php?/$1 [1]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !_d
RewriteeRule ^(.*)$ index.php?/$1[L]